#BackFormUser {
  background-color: rgb(36, 27, 61, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#FormUser {
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#FormUser #header-form-user {
  display: flex;
}

#FormUser #header-form-user > h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #241b3d;
  margin-top: 11.5px;
}

#FormUser #header-form-user > button {
  border: none;
  border-radius: 8px;
  background-color: rgb(113, 78, 215, 0.06);
  color: rgb(91, 63, 173);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 16px;
}

#FormUser > form {
  display: flex;
  flex-direction: column;
}
