#CreateForm {
    margin: 0 48px 50px 48px;
    padding: 40px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
    background-color: white;
}

#CreateForm h2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgba(66, 53, 102, 0.5);
    margin-bottom: 16px;
}

/* FIRST ROW FORM  */
#first-form {
    display: flex;
    margin-bottom: 40px;
}

#nb-of-person {
    width: 100%;
    margin-right: 32px;
}

#nb-of-person .input-content, #date .input-content{
    display: flex;
    padding: 20px;
    border: 2px solid #714ED7;
    border-radius: 8px;
    background-color: rgba(113, 78, 215, 0.06);
}

#nb-of-person div {
    justify-content: space-between;
}

#nb-of-person div img {
    cursor: pointer;
}

.validated-input {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #5B3FAD;
}

#date {
    width: 100%;
}

#date div {
    justify-content: center;
}

/* CATEGORIES-CONTACTS FORMS  */

.cat-cont-container {
    display: flex;
    flex-wrap: wrap;
}

.cat-cont-card {
    width: 49.5%;
    margin-bottom: 8px;
}

.cat-cont-card:nth-child(2n) {
    margin-left: 1%;
}

.cat-cont-card:last-child {
    margin-bottom: 40px;
}

.cat-cont {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid rgba(113, 78, 215, 0.24);
    border-radius: 8px;
    padding: 19px 16px 19px 24px;
    cursor: pointer;
    animation: opacity 0.3s ease-out;
    margin-bottom: 4px;
}

.cat-cont p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #241B3D;
}

.cat-cont:hover p {
    color: #5B3FAD;
} 

.cat-cont:hover {
    border: 2px solid #714ED7;
    background-color: rgba(113, 78, 215, 0.06);
    padding: 18px 15px 18px 23px;
}

.cat-cont img {
    padding: 8px;
}

.description-mobile {
   padding: 0 8px 8px 8px ;
   animation: opacity 0.3s ease-out;
}

.description-mobile p {
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #241B3D;
}

.info-toolbox {
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 70%;
    padding: 8px;
    background: #FFFFFF;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
    pointer-events: none;
}

.info-toolbox h3 {
    text-align: center;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 16px;
    color: #241B3D;
}

.info-toolbox div {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 1px;
    right: 15px;
    transform: rotate(45deg);
}

.description-mobile {
    font-size: 14px;
    line-height: 16px;
    color: #241B3D;
}

.selected-cat-cont {
    display: flex;
    justify-content: space-between;
    padding: 19px 24px;
    height: 60px;
    margin-bottom: 8px;
    border: 2px solid #714ED7;
    background-color: rgba(113, 78, 215, 0.06);
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 40px;
    animation: opacity 0.3s ease-out;
}

.input-header {
    position: relative;
}

.input-header img {
    position: absolute;
    right: 0;
    top: 0;
}

#CreateForm button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: rgba(113, 78, 215, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
    animation: opacity 0.2s ease-out;
}

#form-header {
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 700px) {
    #CreateForm {
        margin: 0 24px 24px 24px;
        padding: 20px;
    }

    #first-form {
        flex-direction: column;
    }

    #nb-of-person .input-content {
        margin-bottom: 20px;
    }

    .cat-cont-container .cat-cont-card {
        width: 100%;
    }

    .cat-cont-card:nth-child(2n) {
        margin-left: 0;
    }
}








