.main-container {
    margin: 52px 48px;
}

.background-container {
    background-color: white;
    max-height: 78vh;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.Graph-container {
    position: relative;
    height: 100vh;
    padding: 40px 40px 0 40px;
}

.recharts-cartesian-axis-tick {   
    font-family: 'Asap';
}

.Graph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 16px;
} 

.Graph-header h2, .bottom-container h2, .total-hot-day h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #241B3D;
}

.filter-container {
    display: flex;
}

.filter-container p {
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #423566;
    cursor: pointer;
    user-select:none;
}

.selected-filter, .filter-container p:hover {
    background-color: rgba(113, 78, 215, 0.06);
    border-radius: 4px;
    color: #714ED7;
}

.small-calendar {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 3;
}

.date-range-container {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #706C7A;
    margin-bottom: 40px;
}

.bottom-container {
    position: absolute;
    top: 68%;
    width: calc(100% - 80px);
}

.bottom-container .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #423566;
    margin-bottom: 20px;
}


@media (max-width: 1024px) {
    .main-container {
        margin: 100px 48px 28px 48px;
    }
}

@media (max-width: 700px) {
    .main-container {
        margin: 100px 10px 20px 10px;
    }

    .recharts-layer {
        transform: translateY(-5%);
    }

    .background-container {
        max-height: 60vh;
        overflow: hidden
    }

    .bottom-container {
        top: 50%;
    }
}

@media (max-width: 470px) {
    .recharts-layer {
        transform: translateY(-10%);
    }

    .background-container {
        max-height: 45vh;
    }

    .bottom-container {
        top: 35%;
    }

    .Graph-header {
        flex-direction: column;
    }

    .small-calendar {
        top: 70px;
    }
}

/* HEURE AFFLUENCE DATAVIZ  */

.select-day-container {
    position: relative;
}

.select-day-drop-down {
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 200px;
    padding:12px 20px;
    background-color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    z-index: 3;
}

.select-day-drop-down div {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    cursor: pointer;
}

.select-day-drop-down div label, .select-day-drop-down div input {
    cursor: pointer;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type=checkbox] {
    border-radius: 4px;
    height: 15px;
    width: 15px;
    background: #fff;
}

input[type=checkbox]:focus {
    outline: none;
}

input[type="checkbox"]:checked {
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 6px;
    height: 10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 1px 1px 2px 1px;
    box-sizing: border-box;
    transform: rotate(35deg);
}

.background-container-hot-time {
    background-color: white;
    max-height: 65vh;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

/* IT'S FOR HOT DAY */
.background-hot-day{
    position: relative;
    background-color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 40px 40px;
    max-height: 90vh;
}

.Graph-hot-day{
    height: 80vh;
    display: flex;
    justify-content: center;
    transform: translateX(-5%);
}

.total-hot-day{
    position: absolute;
    top: 88%;
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 470px) {
    .background-hot-day{
        padding: 10px;
    }
}

/* EXPORT VIEW  */

.export h1 {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #714ED7;
    margin-bottom: 8px;
}

.export h1+p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #241B3D;
    margin-bottom: 40px;
}

.export {
    background-color: white;
    padding: 32px 40px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.download-data {
    display: flex;
    justify-content: center;
    max-width: 320px;
    width: 100%;
    padding: 12px 0;
    text-decoration: none;
    background: #5B3FAD;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    user-select: none;
}
