#settings-users{
    margin: 50px 48px;
}

#settings-users #header-users{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
}

#settings-users #header-users > h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 23px;
    color: #241B3D;
    margin-top: 15px;
}

#settings-users #header-users button {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: rgba(113, 78, 215, 1);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#settings-users #header-users button:focus {
    outline: none;
}

#header-users button p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    #settings-users{
        margin: 100px 48px;
    }
}